.bot-menu
    margin-top: 26px

    .menu
        outline: none

    .menu-item
        padding: 12px 8px
        margin-right: 64px
        display: inline-block
        font-size: 13px
        font-family: Arial, sans-serif
        cursor: pointer
        
        &_checked
            border-bottom: 2px solid #e9604a
