.main-menu__item
    color: #053748
    text-transform: uppercase
    font-size: 14px
    display: inline-block
    text-align: center
    padding: 28px 10px
    margin-left: 15px
    font-family: Arial, sans-serif

    &_active
        color: #e9604a
        border-bottom: 2px solid

    .link
        color: inherit
        text-decoration: none
